<div class="header">Выберите друзей</div>
<div class="content">
    <div>
        <div class="search-input">
            <input id="left-search" type="text">
        </div>
        <div class="friends-container">
            <h2>Ваши друзья</h2>
            <div id="all-friends"></div>
        </div>
    </div>
    <div>
        <div class="search-input">
            <input id="right-search" type="text">
        </div>
        <div class="friends-container">
            <h2>Друзья в списке</h2>
            <div id="selected-friends"></div>
        </div>
    </div>
</div>