{{#each items}}
<div class="friend" draggable="true" data-id="{{id}}">
    <img src="{{photo_100}}" />
    <strong>{{fullName}}</strong>
    <button class="add-button">+</i></button>   
</div>
{{/each}}