{{#each items}}
<div class="friend" draggable="true">
    <img class="rounded-circle" src="{{photo_100}}" />
    <span>{{first_name}} {{last_name}}</span>
    <button class="btn add-button">+</button>
</div>
{{/each}}