{{#each items}}
<div class="friend" draggable="true" data-id="{{id}}">
    <img src="{{photo_100}}" />
    <strong>{{fullName}}</strong>
    <a class="add-button">
        {{#if selected}}
            <i class="fa fa-minus"></i>
        {{else}}
            <i class="fa fa-plus"></i>
        {{/if}}
    </a>   
</div>
{{/each}}