<div class="header">Выберите друзей</div>
<div class="content">
    <div>
        <div class="search-input">
            <input type="text" data-list="all">
        </div>
        
        <h2>Ваши друзья</h2>
        <div id="all" class="drag-zone"></div>
    </div>
    <div>
        <div class="search-input">
            <input type="text" data-list="selected">
        </div>

        <h2>Друзья в списке</h2>
        <div id="selected" class="drag-zone"></div>
    </div>
</div>