<div class="logo">
    <img src="/src/images/label.png" alt="другофильтр">
</div>
<div class="container">

    <header>
        <div class="title">
            Выберите друзей
        </div>
        <div class="filters">
            <input type="text" data-type="all">
            <input type="text" data-type="selected">
        </div>
    </header>

    <section class="friends">
        <div>
            <h2>Ваши друзья</h2>
            <div id="all" class="drag-zone"></div>
        </div><div>
            <h2>Друзья в списке</h2>
            <div id="selected" class="drag-zone"></div>
        </div>
    </section>

    <bottom>
        <a id="save">Сохранить</a>
    </bottom>
    
</div>