<div class="header">Выберите друзей</div>
<div class="content">
    <div>
        <div class="search-input">
            <input id="all-friends-filter" type="text">
        </div>
        
        <h2>Ваши друзья</h2>
        <div id="all-friends" class="drag-zone"></div>
    </div>
    <div>
        <div class="search-input">
            <input id="selected-friends-filter" type="text">
        </div>

        <h2>Друзья в списке</h2>
        <div id="selected-friends" class="drag-zone"></div>
    </div>
</div>