<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col col-md-8">
            <div class="header rounded-top"><h2>Выберите друзей</h2></div>
            <div class="rounded-bottom">
                <div class="row no-gutters">
                    <div class="col-md-6">

                        <div class="input-group p-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">&#128269;</span>
                            </div>
                            <input id="all-friends-filter" type="text" class="form-control" placeholder="Начните вводить имя друга">
                        </div>

                        <div class="pl-4">
                            <h2>Ваши друзья</h2>
                            <div id="all-friends" class="drag-zone"></div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="input-group p-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">&#128269;</span>
                            </div>
                            <input id="selected-friends-filter" type="text" class="form-control" placeholder="Начните вводить имя друга">
                        </div>

                        <div class="pl-4">
                            <h2>Друзья в списке</h2>
                            <div id="selected-friends" class="drag-zone"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>