html, body {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #757171;
}

h1, h2 {
    margin: 0;
    padding: 15px;
}

.container {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div {
    height: 70%;
    flex-basis: 80%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.container > div > div {
    display: flex;
}

.container > div > div > div {
    flex: 50%;
}

.container > div > .friends {
    height: calc(100% - 237px);
}

.container > div > h1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: #F4846D;
    color: #FFFFFF;
    height: 50px;
}

.search-input {
    padding: 5px 10px;
    background-color: #F1F1F1;
}

.search-input input {
    border: 1px solid rgb(219, 209, 209);
    border-radius: 10px;
    width: 100%;
    outline: none;
    background: url(../images/magnifier.png) no-repeat scroll 7px 3px;
    padding-left:30px;
    line-height: 21px;
    box-sizing: border-box;
}

.drag-zone {
    background-color: #fff;
    padding: 14px;
    overflow: auto;
}

.bottom {
    padding: 10px;
    background-color: #F1F1F1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottom #save {
    background-color: #F4846D;
    padding: 5px 10px;
    height: 25px;
    border-radius: 20px;
    margin-left: auto;
}

.friend {
    cursor: move;
    user-select: none;
    margin-top: 5px;
}

.friend:first-child {
    margin-top: 0;
}

.friend img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.friend div {
    font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.friend .add-button {
    margin-top: 39px;
    float: right;
    cursor: pointer;
}