<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>

    <script src="https://vk.com/js/api/openapi.js?154" type="text/javascript"></script>
</head>

<body>
    <div id="container">
        {{> "./templates/main.hbs"}}
    </div>
</body>

</html>